* text=auto !eol
i386-win32/arm-embedded-ar.exe -text
i386-win32/arm-embedded-as.exe -text
i386-win32/arm-embedded-ld.exe -text
i386-win32/arm-embedded-objcopy.exe -text
i386-win32/arm-embedded-objdump.exe -text
i386-win32/arm-embedded-strip.exe -text
i386-win32/arm-gba-ar.exe -text
i386-win32/arm-gba-as.exe -text
i386-win32/arm-gba-ld.exe -text
i386-win32/arm-gba-objcopy.exe -text
i386-win32/arm-linux-ar.exe -text
i386-win32/arm-linux-as.exe -text
i386-win32/arm-linux-eabi-ar.exe -text
i386-win32/arm-linux-eabi-as.exe -text
i386-win32/arm-linux-eabi-ld.exe -text
i386-win32/arm-linux-eabi-objdump.exe -text
i386-win32/arm-linux-ld.exe -text
i386-win32/arm-linux-objdump.exe -text
i386-win32/arm-nds-ar.exe -text
i386-win32/arm-nds-as.exe -text
i386-win32/arm-nds-ld.exe -text
i386-win32/arm-nds-objdump.exe -text
i386-win32/arm-wince-ar.exe -text
i386-win32/arm-wince-as.exe -text
i386-win32/arm-wince-ld.exe -text
i386-win32/arm-wince-objdump.exe -text
i386-win32/arm-wince-strip.exe -text
i386-win32/avr-embedded-ar.exe -text
i386-win32/avr-embedded-as.exe -text
i386-win32/avr-embedded-ld.exe -text
i386-win32/avr-embedded-objcopy.exe -text
i386-win32/avr-embedded-objdump.exe -text
i386-win32/avr-embedded-strip.exe -text
i386-win32/i386-haiku-ar.exe -text
i386-win32/i386-haiku-as.exe -text
i386-win32/i386-haiku-ld.exe -text
i386-win32/i386-haiku-objdump.exe -text
i386-win32/i386-linux-ar.exe -text
i386-win32/i386-linux-as.exe -text
i386-win32/i386-linux-ld.exe -text
i386-win32/i386-linux-objdump.exe -text
i386-win32/i386-sunos-ar.exe -text
i386-win32/i386-sunos-as.exe -text
i386-win32/i386-sunos-ld.exe -text
i386-win32/i386-symbian-ar.exe -text
i386-win32/i386-symbian-as.exe -text
i386-win32/i386-symbian-ld.exe -text
i386-win32/i386-symbian-postw32.exe -text
i386-win32/m68k-amig-ld.exe -text
i386-win32/m68k-amiga-ar.exe -text
i386-win32/m68k-amiga-as.exe -text
i386-win32/m68k-amiga-objdump.exe -text
i386-win32/m68k-amiga-strip.exe -text
i386-win32/m68k-linux-ar.exe -text
i386-win32/m68k-linux-as.exe -text
i386-win32/m68k-linux-ld.exe -text
i386-win32/m68k-linux-objdump.exe -text
i386-win32/powerpc-linux-ar.exe -text
i386-win32/powerpc-linux-as.exe -text
i386-win32/powerpc-linux-ld.exe -text
i386-win32/powerpc-netbsd-ar.exe -text
i386-win32/powerpc-netbsd-as.exe -text
i386-win32/powerpc-netbsd-ld.exe -text
i386-win32/powerpc-netbsd-objdump.exe -text
i386-win32/powerpc64-linux-ar.exe -text
i386-win32/powerpc64-linux-as.exe -text
i386-win32/powerpc64-linux-ld.exe -text
i386-win32/powerpc64-linux-objdump.exe -text
i386-win32/sparc-linux-ar.exe -text
i386-win32/sparc-linux-as.exe -text
i386-win32/sparc-linux-ld.exe -text
i386-win32/sparc-linux-objdump.exe -text
i386-win32/sparc-solaris-ar.exe -text
i386-win32/sparc-solaris-as.exe -text
i386-win32/sparc-solaris-gas.exe -text
i386-win32/sparc-solaris-gld.exe -text
i386-win32/sparc-solaris-ld.exe -text
i386-win32/x86_64-freebsd-ar.exe -text
i386-win32/x86_64-freebsd-as.exe -text
i386-win32/x86_64-freebsd-ld.exe -text
i386-win32/x86_64-freebsd-objdump.exe -text
i386-win32/x86_64-linux-ar.exe -text
i386-win32/x86_64-linux-as.exe -text
i386-win32/x86_64-linux-ld.exe -text
i386-win32/x86_64-linux-objdump.exe -text
i386-win32/zlib1.dll -text
x86_64-win64/zlib1.dll -text
