* text=auto !eol
i386-win32/armel-linux-ar.exe -text
i386-win32/armel-linux-as.exe -text
i386-win32/armel-linux-ld.exe -text
i386-win32/armel-linux-objdump.exe -text
i386-win32/i386-linux-ar.exe -text
i386-win32/i386-linux-as.exe -text
i386-win32/i386-linux-ld.exe -text
i386-win32/i386-linux-objdump.exe -text
i386-win32/m68k-linux-ar.exe -text
i386-win32/m68k-linux-as.exe -text
i386-win32/m68k-linux-ld.exe -text
i386-win32/m68k-linux-objdump.exe -text
i386-win32/powerpc-netbsd-ar.exe -text
i386-win32/powerpc-netbsd-as.exe -text
i386-win32/powerpc-netbsd-ld.exe -text
i386-win32/powerpc-netbsd-objdump.exe -text
i386-win32/powerpc64-linux-ar.exe -text
i386-win32/powerpc64-linux-as.exe -text
i386-win32/powerpc64-linux-ld.exe -text
i386-win32/powerpc64-linux-objdump.exe -text
i386-win32/sparc-linux-ar.exe -text
i386-win32/sparc-linux-as.exe -text
i386-win32/sparc-linux-ld.exe -text
i386-win32/sparc-linux-objdump.exe -text
i386-win32/x86_64-freebsd-ar.exe -text
i386-win32/x86_64-freebsd-as.exe -text
i386-win32/x86_64-freebsd-ld.exe -text
i386-win32/x86_64-freebsd-objdump.exe -text
i386-win32/x86_64-linux-ar.exe -text
i386-win32/x86_64-linux-as.exe -text
i386-win32/x86_64-linux-ld.exe -text
i386-win32/x86_64-linux-objdump.exe -text
