* text=auto !eol
i386-win32/README.txt svneol=native#text/plain
i386-win32/arm-embedded-ar.exe -text
i386-win32/arm-embedded-as.exe -text
i386-win32/arm-embedded-ld.exe -text
i386-win32/arm-embedded-objcopy.exe -text
i386-win32/arm-embedded-objdump.exe -text
i386-win32/arm-embedded-strip.exe -text
i386-win32/arm-linux-ar.exe -text
i386-win32/arm-linux-as.exe -text
i386-win32/arm-linux-ld.exe -text
i386-win32/arm-linux-oabi-ar.exe -text
i386-win32/arm-linux-oabi-as.exe -text
i386-win32/arm-linux-oabi-ld.exe -text
i386-win32/arm-linux-oabi-objdump.exe -text
i386-win32/arm-linux-oabi-strip.exe -text
i386-win32/arm-linux-objdump.exe -text
i386-win32/arm-linux-strip.exe -text
i386-win32/arm-wince-ar.exe -text
i386-win32/arm-wince-as.exe -text
i386-win32/arm-wince-dlltool.exe -text
i386-win32/arm-wince-ld.exe -text
i386-win32/arm-wince-nm.exe -text
i386-win32/arm-wince-objcopy.exe -text
i386-win32/arm-wince-objdump.exe -text
i386-win32/arm-wince-strip.exe -text
i386-win32/arm-wince-windres.exe -text
i386-win32/avr-embedded-ar.exe -text
i386-win32/avr-embedded-as.exe -text
i386-win32/avr-embedded-ld.exe -text
i386-win32/avr-embedded-objcopy.exe -text
i386-win32/avr-embedded-objdump.exe -text
i386-win32/avr-embedded-strip.exe -text
i386-win32/i386-freebsd-ar.exe -text
i386-win32/i386-freebsd-as.exe -text
i386-win32/i386-freebsd-ld.exe -text
i386-win32/i386-freebsd-objcopy.exe -text
i386-win32/i386-freebsd-objdump.exe -text
i386-win32/i386-freebsd-strip.exe -text
i386-win32/i386-haiku-ar.exe -text
i386-win32/i386-haiku-as.exe -text
i386-win32/i386-haiku-ld.exe -text
i386-win32/i386-haiku-objdump.exe -text
i386-win32/i386-linux-ar.exe -text
i386-win32/i386-linux-as.exe -text
i386-win32/i386-linux-ld.exe -text
i386-win32/i386-linux-nm.exe -text
i386-win32/i386-linux-objcopy.exe -text
i386-win32/i386-linux-objdump.exe -text
i386-win32/i386-linux-strip.exe -text
i386-win32/i386-openbsd-ar.exe -text
i386-win32/i386-openbsd-as.exe -text
i386-win32/i386-openbsd-ld.exe -text
i386-win32/i386-openbsd-objcopy.exe -text
i386-win32/i386-openbsd-objdump.exe -text
i386-win32/i386-openbsd-strip.exe -text
i386-win32/i386-sunos-ar.exe -text
i386-win32/i386-sunos-as.exe -text
i386-win32/i386-sunos-ld.exe -text
i386-win32/i386-symbian-ar.exe -text
i386-win32/i386-symbian-as.exe -text
i386-win32/i386-symbian-ld.exe -text
i386-win32/i386-symbian-postw32.exe -text
i386-win32/mips-linux-ar.exe -text
i386-win32/mips-linux-as.exe -text
i386-win32/mips-linux-ld.exe -text
i386-win32/mips-linux-nm.exe -text
i386-win32/mips-linux-objcopy.exe -text
i386-win32/mips-linux-objdump.exe -text
i386-win32/mips-linux-strip.exe -text
i386-win32/mipsel-linux-ar.exe -text
i386-win32/mipsel-linux-as.exe -text
i386-win32/mipsel-linux-ld.exe -text
i386-win32/mipsel-linux-nm.exe -text
i386-win32/mipsel-linux-objcopy.exe -text
i386-win32/mipsel-linux-objdump.exe -text
i386-win32/mipsel-linux-strip.exe -text
i386-win32/powerpc-linux-ar.exe -text
i386-win32/powerpc-linux-as.exe -text
i386-win32/powerpc-linux-ld.exe -text
i386-win32/powerpc-linux-objdump.exe -text
i386-win32/powerpc-linux-strip.exe -text
i386-win32/powerpc-netbsd-ar.exe -text
i386-win32/powerpc-netbsd-as.exe -text
i386-win32/powerpc-netbsd-ld.exe -text
i386-win32/powerpc-netbsd-nm.exe -text
i386-win32/powerpc-netbsd-objcopy.exe -text
i386-win32/powerpc-netbsd-objdump.exe -text
i386-win32/powerpc-netbsd-strip.exe -text
i386-win32/powerpc64-linux-ar.exe -text
i386-win32/powerpc64-linux-as.exe -text
i386-win32/powerpc64-linux-ld.exe -text
i386-win32/powerpc64-linux-objcopy.exe -text
i386-win32/powerpc64-linux-objdump.exe -text
i386-win32/powerpc64-linux-strip.exe -text
i386-win32/sparc-linux-ar.exe -text
i386-win32/sparc-linux-as.exe -text
i386-win32/sparc-linux-ld.exe -text
i386-win32/sparc-linux-objdump.exe -text
i386-win32/sparc-linux-strip.exe -text
i386-win32/sparc-solaris-ar.exe -text
i386-win32/sparc-solaris-as.exe -text
i386-win32/sparc-solaris-gas.exe -text
i386-win32/sparc-solaris-gld.exe -text
i386-win32/sparc-solaris-ld.exe -text
i386-win32/sparc-solaris-objcopy.exe -text
i386-win32/sparc-solaris-objdump.exe -text
i386-win32/sparc-solaris-strip.exe -text
i386-win32/x86_64-freebsd-ar.exe -text
i386-win32/x86_64-freebsd-as.exe -text
i386-win32/x86_64-freebsd-ld.exe -text
i386-win32/x86_64-freebsd-objcopy.exe -text
i386-win32/x86_64-freebsd-objdump.exe -text
i386-win32/x86_64-freebsd-strip.exe -text
i386-win32/x86_64-linux-ar.exe -text
i386-win32/x86_64-linux-as.exe -text
i386-win32/x86_64-linux-ld.exe -text
i386-win32/x86_64-linux-nm.exe -text
i386-win32/x86_64-linux-objcopy.exe -text
i386-win32/x86_64-linux-objdump.exe -text
i386-win32/x86_64-linux-strip.exe -text
i386-win32/x86_64-solaris-ar.exe -text
i386-win32/x86_64-solaris-as.exe -text
i386-win32/x86_64-solaris-gas.exe -text
i386-win32/x86_64-solaris-gld.exe -text
i386-win32/x86_64-solaris-ld.exe -text
i386-win32/x86_64-solaris-objcopy.exe -text
i386-win32/x86_64-solaris-objdump.exe -text
i386-win32/x86_64-solaris-strip.exe -text
i386-win32/x86_64-win64-ar.exe -text
i386-win32/x86_64-win64-as.exe -text
i386-win32/x86_64-win64-ld.exe -text
i386-win32/x86_64-win64-nm.exe -text
i386-win32/x86_64-win64-objcopy.exe -text
i386-win32/x86_64-win64-objdump.exe -text
i386-win32/x86_64-win64-strip.exe -text
